body {
  background-color: #000000;
}
nav {
    border:0 !important;
}
.container-fluid {
    padding:0;
}
.container-main {
  background: #000000 url("../../images/background.jpg") no-repeat right;
  background-size: auto 90vh;
  width: 100%;
}

.main-page-phi {
  margin-left: 100px;
  /*margin-top: 150px;*/
  height:100vh;
  padding-top:150px;
}

.main-name {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

.main-but {
margin-top: 40px;
  border: solid;
  border-color: #ef9200;
  background-color: #000000;
  color: #ef9200;
}

.main-but:hover {
  color: #A4FFC4;
  border-color: #A4FFC4;
}

.main-but:active {
  border-style: groove;
  background-color: #100f10;
}



.btn-fil {
  font-size: 22px;
  padding-left: 30px;
  padding-right: 30px;

  &:hover,
  &:active {
  color: #A4FFC4;
}
}

.header-phi {
  font-size: 120px;
  font-family: "PT Sans narrow", 'Roboto', sans-serif;
  font-weight: 100;
  color: #A4FFC4;
}

body {
    background-color:black !important;
}