.logo{
padding-left:50px !important;
padding-right:50px !important;
   display: inline-block;
   color:#A4FFC4 !important;
}
.sign{
padding-left:3px !important;
padding-right:100px !important;
}

.padding-left{
    padding-left:180px;
}
.padding-left-for-cart{
     padding-left:150px;
}
.lang-en{
padding-left:5px !important;
padding-right:0px !important;
 color:#A4FFC4 !important;
}
.lang-ru{
padding-left:3px !important;
padding-right:40px !important;

}
.nav-background{
    background-color:#1b1b1b !important;

border:none;
}
a{
    color:#ffffff !important;
}
.raund{
  color:#1b1b1b;
        border-radius: 100%;
    background-color: #A4FFC4;
    width: 20px;
    display: inline-block;
    text-align: center;
}
.hr-footer{
    border:1px solid;
    color:rgba(252, 252, 252, 0.50)
}
 .body-black{
     height:250px;
     background-color:black;
 }
 .footer{
      background-color:black;
         height:70px;
 }
 .img-logo{
     height:25px;
     width:25px;
        display: inline-block !important;
        color: #A4FFC4;

 }

 .padding-top{
     padding-top:15px;
      padding-left:15px;
 }
  .face{
     padding-left:250px;
 }
 .pay{
     padding-left:450px;
 }