.class {
  background-color: black; }
  .class .class-that-in-upper-class {
    background-color: white; }

.log {
  padding-left: 25px !important;
  padding-right: 0px !important; }

.sign {
  padding-left: 3px !important;
  padding-right: 100px !important; }

.logo {
  padding-left: 100px !important;
  color: #A4FFC4 !important; }

.padding-left {
  padding-left: 250px; }

.padding-left-for-cart {
  padding-left: 150px; }

.lang-en {
  padding-left: 5px !important;
  padding-right: 0px !important; }

.lang-ru {
  padding-left: 3px !important;
  padding-right: 40px !important; }

.nav-background {
  background-color: #1b1b1b !important; }

a {
  color: #ffffff !important; }

.raund {
  color: #1b1b1b;
  border-radius: 100%;
  background-color: #A4FFC4;
  width: 20px;
  display: inline-block;
  text-align: center; }
